body{
    background: #212529;
    font-family: "arial", sans-serif;
}
.media{
    width: 50%;
    position: relative;
    margin: 0 auto;
    top: 200px;
    background: #343a40;
    padding: 15px 15px 15px 15px;
    border-radius: 5px;
}

.media small{
    color: #adb5bd;
}

.media strong{
    color: #f8f9fa;
}

p{
    color: #e9ecef;
}
